# Workflow to test the oolite-msys2 repository

# This workflow is can be triggered by a workflow_call event when called by other workflows.
# It can also be called by a workflow_dispatch event from GitHub.

# The workflow currently contains one job:
# - shellcheck: Runs ShellCheck to check all the bash scripts

# TODO
# Add jobs to test the workflow actions.

name: Test repository
on:
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read
jobs:

########################################
########################################
########################################

# Run Shellcheck to lint the scripts

  shellcheck:
    name: Run ShellCheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v5

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master

########################################
########################################
########################################

# Test cache-built-dependency action

# Need to check what happens if the path does not exist
# Need to check what happens if the path is empty
# Need to check what happens if the path is not a directory
# Need to check what happens if the key is empty

# Need to check what happens if we want to delete the cache
# Need to check that the caching is successful

########################################
########################################
########################################

# Test early-exit-if-cache-exists action

# Need to check all inputs
# Need to check all outputs
# Need to check early exit

########################################
########################################
########################################

# Test extract-data-string-from-file action

  test-extract-data-string-from-file-matrix:
    name: Test extract-data-string-from-file action
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    env:
      TESTING_MODE: true
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Extracting a single word from a file"
            path: ./.github/actions/extract-data-string-from-file/test/single-word
            expected_outcome: "success"
            expected_data: "foo"
            expected_error: ""

          - name: "Extracting multiple words from a file"
            path: ./.github/actions/extract-data-string-from-file/test/multiple-words
            expected_outcome: "success"
            expected_data: "foo bar"
            expected_error: ""

          - name: "Extracting multiple lines from a file"
            path: ./.github/actions/extract-data-string-from-file/test/multiple-lines
            expected_outcome: "success"
            expected_data: "foo\nbar"
            expected_error: ""

          - name: "Extracting an empty file"
            path: ./.github/actions/extract-data-string-from-file/test/empty
            expected_outcome: "success"
            expected_data: ""
            expected_error: ""

          - name: "Extracting a file with spaces"
            path: ./.github/actions/extract-data-string-from-file/test/spaces
            expected_outcome: "success"
            expected_data: "  "
            expected_error: ""

          - name: "Extracting from a non-existent file"
            path: ./.github/actions/extract-data-string-from-file/test/non-existent
            expected_outcome: "failure"
            expected_data: ""
            expected_error: "Path does not exist"

          - name: "Extracting from a directory"
            path: ./.github/actions/extract-data-string-from-file/test
            expected_outcome: "failure"
            expected_data: ""
            expected_error: "Path is a directory"

          - name: "Extracting from an empty path"
            path: 
            expected_outcome: "failure"
            expected_data: ""
            expected_error: "Path is required"

          - name: "Extracting from a path with spaces"
            path: '  '
            expected_outcome: "failure"
            expected_data: ""
            expected_error: "Path is required"
    outputs:
      name: ${{ matrix.name }}
      result: ${{ steps.validate-test.outputs.result }}

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Test - ${{ matrix.name }}
        continue-on-error: true
        id: extract-data
        if: always()
        uses: ./.github/actions/extract-data-string-from-file
        with:
          path: ${{ matrix.path }}

      - name: Validate - ${{ matrix.name }}
        id: validate-test
        if: always()
        run: |
          bash ./.github/actions/extract-data-string-from-file/validate-tests.sh \
            "${{ matrix.name }}" \
            "${{ matrix.expected_outcome }}" \
            "${{ matrix.expected_data }}" \
            "${{ matrix.expected_error }}" \
            "${{ steps.extract-data.outputs.success }}" \
            "${{ steps.extract-data.outputs.data }}" \
            "${{ steps.extract-data.outputs.error }}"

      - name: Upload test result
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-result-extract-data-string-from-file-${{ strategy.job-index }}
          path: test-results/

      - name: Mark as failed
        if: ${{ steps.validate-test.outputs.result == 'false' }}
        run: |
          echo "Marking job as failed due to test failure"
          exit 1

########################################
########################################
########################################

# Test install-built-dependency action

# Need to check what happens if the path is empty
# Need to check what happens if the cache cannot be found
# Need to check what happens is the script cannot be found
# Need to check what happens if the script fails

########################################
########################################
########################################

# Test start-msys2=with-deps action

# Need to check what happens if the path is empty
# Need to check what happens if the path cannot be found
# Need to compare a clean install with one that has added dependencies
# Need to check what happens with multiple dependencies
# Need to check what happens with a group dependency

########################################
########################################
########################################

# Summarize test results

  Summary:
    needs: test-extract-data-string-from-file-matrix
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Download all test results
        uses: actions/download-artifact@v4
        with:
          pattern: test-result-*
          merge-multiple: true
          path: test-results

      - name: Summarize all test results
        if: always()
        run: |
          bash ./.github/actions/gen-test-summary-md.sh

      - name: Delete artifacts after processing
        uses: geekyeggo/delete-artifact@v5
        with:
          name: test-result-*
          useGlob: true
          failOnError: false

########################################
########################################
########################################
